@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background: #ececec;
}

#forgot{
  width: 50%
}

#request{
  width: 50%;
}

.box-area{
  width: 930px;
}

.right-box{
  padding: 40px 30px 40px 40px;
}

::placeholder{
  font-size: 16px;
}

.rounded-4{
  border-radius: 20px;
}

.rounded-5{
  border-radius: 30px;
}

.form-control-lg, .form-select-lg {
  border-radius: 10px;
  border-color: #9ba0a6;
}

.btn-outline-secondary {
  border-color: #9ba0a6;
}

@media only screen and (max-width: 768px){
  .featured-image{
    display: none;
  }

  .box-area{
    margin: 0 10px;
  }

  .left-box{
    display: none;
  }
  
  .right-box{
    padding: 20px;
  }

  #forgot{
    width: 100%
  }

  #request{
    width: 100%;
  }
}